<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>URL Shortener</title>
</head>
<body>
<th:block layout:fragment="content">
    <div>
        <p><center>URL Shortener</center></p>
    </div>
    <form action="#" th:action="@{/}" method="post"/>
    <center>
        <input type="text" th:name="originUrl">
        <button type="submit" class="btn btn-primary">Enter</button>
    </center>
    </form>
    <br />
    <div>
        <center>shorten URL : <a th:href="${shortUrl}" th:text="${shortUrl}" /></center>
    </div>
</th:block>
</body>
</html>