<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="head">
        <img src="/img/stove.jpeg" />
    </div>
    <p><center>URL Shortener</center></p>
    <form action="#" th:action="@{/}" method="post"/>
    <center>
        <input type="text" th:name="originUrl">
        <button type="submit" class="btn btn-primary">Enter</button>
    </center>
    </form>
    <br />
    <div class="result">
        <center>shorten URL : <a th:href="${shortUrl}" th:text="${shortUrl}" /></center>
    </div>
</th:block>
</body>
</html>